#virtual-keyboard{
	display: none;
}
.container {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}
.columns {
	width: 100%;
	float: left;
	box-sizing: border-box;
}
.keyboard {
	text-align: center;
}
button.keyboard-key {
	font-family: "Courier New", Courier, monospace;
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: #555;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid #bbb;
	cursor: pointer;
	box-sizing: border-box;
	margin-bottom: 5px;
}